---
title: Next Steps
owner: David Weber
---

You now know how to deploy an app, change its configuration, view logs, scale, and bind it to services.

Here’s some recommended reading. The first one is a set of tips for PHP developers in the cloud. The second one describes the buildpack which Cloud Foundry uses to bootstrap PHP applications. The third one is a collection of factors you should consider when creating a modern cloud-native application.

* <a href="../buildpacks/php/gsg-php-tips.html" target="_blank">Tips for PHP Applications in the cloud</a>
* <a href="../buildpacks/php/index.html" target="_blank">PHP Buildpack</a>
* <a href="http://12factor.net" target="_blank">12 factors for cloud-native apps</a>

## Examples

Here are some example applications that can be deployed easily to Cloud Foundry:

* <a href="https://github.com/dmikusa-pivotal/cf-ex-php-info" target="_blank">php-info</a> This app has a basic index page and shows the output of `phpinfo()`
* <a href="https://github.com/dmikusa-pivotal/cf-ex-phpmyadmin" target="_blank">PHPMyAdmin</a> A deployment of PHPMyAdmin that uses bound MySQL services
* <a href="https://github.com/dmikusa-pivotal/cf-ex-phppgadmin" target="_blank">PHPPgAdmin</a> A deployment of PHPPgAdmin that uses bound PostgreSQL services
* <a href="https://github.com/dmikusa-pivotal/cf-ex-worpress" target="_blank">Wordpress</a> A deployment of WordPress that uses bound MySQL service
* <a href="https://github.com/dmikusa-pivotal/cf-ex-drupal" target="_blank">Drupal</a> A deployment of Drupal that uses bound MySQL service
* <a href="https://github.com/dmikusa-pivotal/cf-ex-code-igniter" target="_blank">CodeIgniter</a> CodeIgniter tutorial application running on CF
* <a href="https://github.com/dmikusa-pivotal/cf-ex-stand-alone" target="_blank">Stand Alone</a> An example which runs a standalone PHP script
* <a href="https://github.com/dmikusa-pivotal/cf-ex-pgbouncer" target="_blank">pgbouncer</a> An example which runs the PgBouncer process in the container to pool database connections
* <a href="http://phalconphp.com/en/" target="_blank">phalcon</a> An example which runs a Phalcon based application
* <a href="https://github.com/dmikusa-pivotal/cf-ex-composer" target="_blank">composer</a> An example which uses Composer
