---
title: Prepare the App
owner: David Weber
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">
$ git clone https://github.com/swisscom/cf-sample-app-php.git
$ cd cf-sample-app-php
</pre>

You now have a functioning git repository that contains a simple <a href="https://lumen.laravel.com/" target="_blank">Lumen</a> application as well as a `composer.json` file, which is used by PHP’s dependency manager Composer.

There are two important things to know about the above repository:

1. There is a custom configuration under `.bp-config/options.json` to use PHP 7, enable some PHP modules and change the webdir to prevent any conflicts with the buildpack source.
1. We have to handle the composer vendor source directory differently for the PHP buildpack in `bootstrap/app.php`.

<div style="text-align:center;margin:3em;">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>
