---
title: Push Local Changes
owner: David Weber
---

<strong><%= modified_date %></strong>

In this step you’ll learn how to propagate a local change to the application through to <%= vars.product_short %>. As a simple change, we'll have the app expose the framework version on an endpoint.

Change the JSON output for the route `/version` in the `app/Http/routes.php` file to show the framework version. Your final result should look something like this:

```php
$app->get('/version', function () use ($app) {
  return response()->json([ 'version' => $app->version()]);
});
```

Now test locally:

<pre class="terminal">
$ php -S localhost:3000 -t public
</pre>

Visiting your application at <a href="http://localhost:3000/version" target="_blank">http://localhost:3000/version</a>, you should see the framework version.

Now deploy. All you need to do is `cf push` again:

<pre class="terminal">
$ cf push my-php-app
</pre>

Finally, check that everything is working by visiting your app's URL from your web browser.

<div style="text-align:center;margin:3em;">
  <a href="./environment.html" class="btn btn-primary">I can push local changes</a>
</div>
