---
title: Run the App Locally
owner: David Weber
---

<strong><%= modified_date %></strong>

Now start your application locally using the built in php server:

<pre class="terminal">
$ php -S localhost:8000 -t public

&gt; PHP 7.0.3 Development Server started at Thu Apr 14 17:26:05 2016
&gt; Listening on http://localhost:8000
&gt; Document root is .../cf-sample-app-php/public
&gt; Press Ctrl-C to quit.
</pre>

Open <a href="http://localhost:3000" target="_blank">http://localhost:8000</a> with your web browser. You should see your app running locally.

To stop the app from running locally, in the CLI, press `Ctrl+C` to exit.

<div style="text-align:center;margin:3em;">
  <a href="./push-changes.html" class="btn btn-primary">I can run my App locally</a>
</div>
